/* 
main color


*/

.toolbar p{
    font-size: 40px;
    float:left;
    margin:5px;
    margin-left:20px;
    
}
.logo{
    display:inline;
    height: 60px;
    width: 60px;
    float:left;
    margin:5px;

}

.item{
    background-color: #727272;
    margin:10px;
    border-radius: 10px;
    padding:10px;
    margin-left:10%;
    margin-right:10%;

}


.infoDiv{
    font-size: 40px;
    display:inline-block
}

.image{
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50px;
    border: 10px solid #acacac;

    margin-left:5px;
    margin-right:5px;
    margin-top:15px;


    float:left;
}

.toolbar{
    background-color: #727272;
    position:fixed;
    top: 0px;
    color: WHITE;
    right: 0;
    left: 0;
    font-size:30px;
    float:left;
    border-bottom: 3px solid #243b57;

}

.gnomesList{
    margin-top: 80px;
}