.closeDetails{
  position: absolute;
  top: 3%;
  right: 0%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
  /* The side navigation menu */
  .EGG {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    margin-top: 55px;
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */

    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .EGG a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .EGG a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .EGG .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  




/*SPINNER*/
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*========================================================================================*/

.allItems{
  margin: auto;
  width: 80%;
}


body{
  background-color: #000000;
}
.toolbar p{
    font-size: 40px;
    float:left;
    margin:5px;
    margin-left:20px;
    
}


.item{
    background-color: #383838;
    border-radius: 5px;
    padding:10px;
    cursor:pointer;
    box-shadow: 10px 10px rgb(20, 20, 20);
    float: left;
    width:350px;
    margin-top:20px;
    margin-right: 25px;


}

.LinkItem{
  color:rgb(128, 128, 128);
}



.infoDiv{
    font-size: 20px;
    display:inline-block
}

.image{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50px;
    border: 5px solid #1f1f1f;

    margin-left:5px;
    margin-right:5px;
    margin-top:10px;


    float:left;
}
.gnomesList{
    margin-top: 80px;
    transition: margin-top .5s;
    transition: margin-right .5s;
}




.detailsImage{
  height:300px;
  width:500px;
  object-fit: cover;
}
